//=================================
// FONTS
//=================================

//---------------------------------
// @font-face & @import
//---------------------------------

// @import url("http://hello.myfonts.net/count/2b0ad4");

// @font-face {
// 	font-family: 'ClarendonBT-Roman';
// 	src:url('assets/fonts/font-folder-name/font-file.eot');
// 	src:url('assets/fonts/font-folder-name/font-file.eot?#iefix') format('embedded-opentype'),
// 		url('assets/fonts/font-folder-name/font-file.woff') format('woff'),
// 		url('assets/fonts/font-folder-name/font-file.ttf') format('truetype');
// 	font-weight: 400;
// }

//---------------------------------
// Font Mixin
//---------------------------------

@mixin font($family: sans-serif, $weight: normal) {
	// Generic font stack
	@if $family == "generic" {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	// Font One
	@if $family == "font-one" {
		font-family: "Neue Helvetica W01", sans-serif;
		font-style: normal;
	}
	// Font Two
	@if $family == "font-two" {
		font-family: "ClarendonBT-Roman", serif;
	}
	font-weight: $weight;
}

//---------------------------------
// List out Font Weights
//---------------------------------

// Font One
// --------------------------------
// Light   : 300
// Regular : 400
// Medium  : 500
// Bold    : 600
// Heavy   : 700

// Font Two
// --------------------------------
// Bold    : 800
// Heavy   : 900

//----------------------------------
// Icon Fonts
//----------------------------------

@font-face {
	font-family: 'icon-font';
	src: url('assets/fonts/icon-font/icon-font.eot');
	src: url('assets/fonts/icon-font/icon-font.eot#iefix') format('embedded-opentype'),
		 url('assets/fonts/icon-font/icon-font.woff') format('woff'),
		 url('assets/fonts/icon-font/icon-font.ttf') format('truetype'),
		 url('assets/fonts/icon-font/icon-font.svg#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Icon Font Placeholder
%icon-font {
	font-family: "icon-font" !important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin: 0em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

// Mixin to get icon-fonts going.
// DO NOT APPLY STYLES TO MIXIN - ACTS AS A RESET
// example usage: @include icon-font(icon-name);
@mixin icon-font($icon: false) {
	@extend %icon-font;
	font-family: "icon-font" !important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin: 0em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;

	@if $icon == "icon-name" {
		content: '\e800';
	}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	@include icon-font();
}

// Icon Font Glyph Code
.icon-example:before { content: '\e800'; }