@font-face {
	font-family: "symbols";
	src: url('symbols.eot');
	src: url('symbols.eot?#iefix') format('eot'),
		url('symbols.woff') format('woff'),
		url('symbols.ttf') format('truetype'),
		url('symbols.svg#symbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

.symbol:before {
	display: inline-block;
	font-family: "symbols";
	width: 1em;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	line-height: 1em;
	speak: none;
}


.s-book:before { content: "\E001" }
.s-briefcase:before { content: "\E002" }