//=================================
// WORDPRESS DEFAULT
//=================================

// Default wordpress classes used inside the wysiwyg editor. Has been made responsive for image usage.

$margin-right:      5px 0 20px 20px;
$margin-left:       5px 20px 20px 0;
$margin-center:     5px auto 0 auto;

.alignnone {
	margin: 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: $margin-center;
}

.alignright {
	float: none;
	@include mq(mini) {
		float: right;
		margin: $margin-right;
	}
}

.alignleft {
	float: none;
	@include mq(mini) {
		float: left;
		margin: $margin-left;
	}
}

.aligncenter {
	display: block;
	margin: $margin-center;
}


// image links
a img {
	&.alignleft,
	&.alignright {
		@include mq(mini) {
			width: auto;
			float: left;
		}
	}

	&.alignleft {
		@include mq(mini) {
			margin: $margin-left;
		}
	}

	&.alignright {
		@include mq(mini) {
			margin: $margin-right;
		}
	}

	&.aligncenter {
		width: auto;
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	&.alignnone {
		@include mq(mini) {
			width: auto;
		}
	}
}


// captions
.wp-caption {
	width: 100% !important;
	max-width: 100%;
	padding: 0 0 10px;
	text-align: left;
	margin-bottom: 20px;

	a,
	a:hover {
		border-bottom: 0 !important;
	}

	img {
		border: 0 none;
		height: auto;
		margin: 0 0 5px;
		max-width: 100%;
		padding: 0;
		width: 100%;
	}

	&.alignnone {
		@include mq(mini) {
			margin: $margin-left;
		}
	}

	&.alignleft {
		@include mq(mini) {
			margin: $margin-left;
		}
	}

	&.alignright {
		@include mq(mini) {
			margin: $margin-right;
		}
	}

	&.alignleft,
	&.alignright {
		@include mq(mini) {
			width: 250px !important;
		}
		@include mq(medium) {
			width: 100%;
			max-width: 340px;
		}
	}

	.wp-caption-text {
		@include setfont(generic);
		font-size: rem(12);
		color: #777;
		line-height: 16px;
		padding: 0 0 10px;
		margin: 0;
		border-bottom: 1px solid rgba(192, 192, 193, 0.2);
	}
}

.aligncenter.wp-caption {
	width: 100% !important;
}
