//=================================
// FORM ELEMENTS
//=================================

// You are welcome to keep the default styles out of a container. It does help control your specific styles from third party ones.
// You will notice -webkit-appearance: none ... used through here. Both webkit and moz devices on tablet/mobile add their own styling.
// In some cases we need to remove them to apply correct styles across all browsers. You can remove it if it's not necessary for your case.

// basic styles
input,
textarea,
select {
	outline: none;
	border-radius: 0;
	border: 1px solid #eee;
	padding: 5px 10px;
	margin: 0;
	width: 100%;
	font-size: 13px;
}

// Unique styles that just apply to input/textarea/label
input,
textarea,
label {
	color: #000;
}

// Add the correct appearance, but also adjsut the height to fit with our input fields. This only matters for apple devices (height)
select {
	background: #fff;
	height: 30px;
	padding: 5px 10px;
}

// Make sure we are not adding the select height to multi select
select[multiple] {
	height: auto;
}

// Add correct appearance for checkbox
input[type="checkbox"] {
	vertical-align: bottom;
}

// Add correct appearace for radio
input[type="radio"] {
	vertical-align: text-bottom;
}

// Label specific styling
label {
	font-weight: 400;
}

// Focus specific styling
input:focus,
textarea:focus {
	outline: none;
	border-color: #000;
	background: #444;
	color: #fff;
}

// If you have button specific styling, you can include the mixin
input[type="submit"] {
	// @include button;
	@extend %naked-button;
	border-radius: 0;
	height: auto;
}

//---------------------------------
// Placeholders
//---------------------------------

.placeholder {
	color: #000;
}

input {
	@include placeholder() {
		color: #000;
	}
}

input:focus {
	@include placeholder() {
		color: blue;
	}
}


//---------------------------------
// Browser Specific
//---------------------------------

// Remove extra spacing that Firefox adds to buttons
button::-moz-focus-inner {
	padding: 0;
	border: 0
}

// Remove spinner from type="number"
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

// Reset all styling for input and textarea, handy for mobile devices
input[type="text"],
input[type="time"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}
