//=================================
// COLORS
//=================================

// Start all colors with $color-
// Not only does it help you out when you are coding, but the colors will automatically pull up as you start typing.
// Please utilize actual color names. ex: $color-skyblue over $color-warning.
// For color ideas, use http://chir.ag/projects/name-that-color/ for a rough idea.

$color-aqua:			#89d2e6;
$color-blue:			#222c64;
$color-pink:			#091156;

// Font list
$colors: (
  base: #d57903,
 	teal: (
  	base: #139397,
		light: #33afb3,
    dark: #264d4e
  ),
 	maroon: (
		base: #7c3342,
		light: #33afb3
	),
 	blue: (
		base: #2aa2e0
 	),
  grey: (
    base: #cccccc,
    light: #f2f2f2
  ),
  orange: (
    base: #d57903
  )
);

@function setcolor($color_scheme, $color_tone: base) {
  @return map-get(map-get($colors, $color_scheme), $color_tone);
  //@return map-get($colors, base);
}