<html>
	<head>
		<title><%= fontName %></title>
		<link href="<%= fontName %>.css" rel="stylesheet">
		<style>
			body {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				background: #f7f7f7;
				font-size: 16px;
				padding: 40px 10px;
			}
			h1 {
				color: #666;
				margin: 1em 0;
				text-align: center;
			}
			table {
				border: 1px solid #666;
				margin: 0 auto;
			}
			th,
			td {
				text-align: left;
				padding: 20px;
				border-bottom: 1px solid #cecece;
			}
			td i {
				font-size: 30px;
			}
		</style>
	</head>
	<body>
		<h1><%= fontName %></h1>
		<table>
			<thead>
				<tr>
					<th>Icon</th>
					<th>Name</th>
					<th>Codepoint</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(glyphs, function(glyph) { %>
				<tr>
					<td><i class="<%= className %> s-<%= glyph.name %>"></i></td>
					<td><%= glyph.name %></td>
					<td><%= glyph.codepoint.toString(16).toUpperCase() %></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</body>
</html>