//=================================
// COLORS
//=================================

// Color Map
$colors: (
	black: (
		base: #000,
		light: #777,
		medium: #555,
		dark: #222
	),
	teal: (
		base: #139397,
		light: #33afb3,
		dark: #264d4e
	)
);

// Color Function
@function setcolor($color_name, $tone: base) {
	@if map-has-key($colors, $color_name) {
		@return map-get(map-get($colors, $color_name), $tone);
	} @else {
		@warn "Couldn't find a color named `#{$color_name}`.";
	}
}
