//=================================
// EXTENDS & PLACEHOLDERS
//=================================

// This is handy if you're not using rems and want to control your own sizing based on breakpoint
// We recommend using REM sizing for this, but have provided several examples to help get you started

//---------------------------------
// Misc
//---------------------------------

%module-padding {
	padding-top: rem(90px);
	padding-bottom: rem(90px);
}

%text-shadow {
	text-shadow: 0px 0px 7px rgba(#000, .52);
}

//---------------------------------
// Paragraph Fonts
//---------------------------------

%font-medium {
	font-size: rem(16px);
	line-height: rem(24px);
}

%font-large {
	font-size: rem(17px);
	line-height: rem(28px);
	@include mq(large) {
		font-size: rem(20px);
		line-height: rem(33px);
	}
}

//---------------------------------
// Global Headlines
//---------------------------------

%hsize-small {
	font-size: rem(22px);
	line-height: rem(26px);
	@include mq(medium) {
		font-size: rem(26px);
		line-height: rem(32px);
	}
	@include mq(large) {
		font-size: rem(30px);
		line-height: rem(34px);
	}
}

%hsize-medium {
	font-size: rem(30px);
	line-height: rem(35px);
	@include mq(medium) {
		font-size: rem(44px);
		line-height: rem(48px);
	}
	@include mq(large) {
		font-size: rem(54px);
		line-height: rem(55px);
	}
}

//---------------------------------
// Wysiwyg Styles
//---------------------------------

%wysiwyg {
	h2,
	h3,
	h4 {
		font-weight: 300;
		text-transform: uppercase;
	}
}