//=================================
// JAVASCRIPT BREAKPOINTS
//=================================

// Do no edit unless you know what you are doing.

//---------------------------------
// Media Query Indicator Mixin
//---------------------------------

$bp_string: '';

@mixin jsbp($mq-name, $mq-visible-name) {
	@include mq($mq-name) {
		head {
			font-family: $mq-visible-name;
		}
	}
	$bp_string: appendString($bp_string, $mq-visible-name);
}

@function appendString($string, $string-to-add) {
	@if $string == '' {
		@return $string-to-add;
	} @else {
		@return #{$string},#{$string-to-add};
	}
}

//---------------------------------
// Define the JS Breakpoints
//---------------------------------

// Phone Portrait Down +
@include jsbp(max-tiny, 'mq-tiny');
// Phone Landscape +
@include jsbp(mini, 'mq-mini');
// E-Readers +
@include jsbp(small, 'mq-small');
// Tablets +
@include jsbp(medium, 'mq-medium');
// Large Desktops + Tablet Landscape +
@include jsbp(large, 'mq-large');
// Desktops Larger +
@include jsbp(xlarge, 'mq-xlarge');
// Desktops Even Larger +
@include jsbp(xxlarge, 'mq-xxlarge');
// Desktops Even Larger +
@include jsbp(xxxlarge, 'mq-xxxlarge');


//---------------------------------
// Set the Breakpoint Order
//---------------------------------
title {
	font-family: $bp_string;
}