//=================================
// COLORS
//=================================

// Start all colors with $color-
// Not only does it help you out when you are coding, but the colors will automatically pull up as you start typing.
// Please utilize actual color names. ex: $color-skyblue over $color-warning.
// For color ideas, use http://chir.ag/projects/name-that-color/ for a rough idea.

$color-aqua:			#89d2e6;
$color-blue:			#222c64;
$color-pink:			#091156;