//=================================
// SAMPLE HEADING
//=================================


//---------------------------------
// Section Comment Header
//---------------------------------

.sample-header {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: rem(40px);
	text-transform: uppercase;
	padding: rem(30px);
	margin-bottom: rem(50px);
}

.sample-sprites,
.sample-symbols {
	width: 100%;
	max-width: 600px;
	margin: rem(0 auto 40px);
	padding: rem(40px);
	border: 1px solid rgba(#000, .2);

	i {
		display: block;
		margin-bottom: rem(30px);
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// Sprites
.sample-sprites {
	.icon-one {
		&:before {
			content: "";
			@extend .sprite;
			@include sprite($icon-sun);
		}
	}
	.icon-two {
		&:before {
			content: "";
			@extend .sprite;
			@include sprite($icon-air);
		}
	}
}

// Symbols
.sample-symbols {
	.symbol-one {
		font-size: rem(30px);
		&:before {
			@include symbols(book);
		}
	}
	.symbol-two {
		font-size: rem(30px);
		&:before {
			@include symbols(briefcase);
			color: red;
		}
	}
}